$black: #000001;
$white: #FFFFFF;
$red: #FA2A2A;
$dark: #212121;
$green: #59CEB2;
$blue: #2A6EFA;
$purple: #962AFA;
$gray: #CCC5C5;
$text-gray: #4E4E4E;

$text-inactive: #929AAD;

$border-radius: 3px;

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;